/* RESET ALL MARGINS & PADDINGS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
    font-size: 16px;
    background: #f8f8f8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}






/* MAIN CSS */

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}

.primary-text {
    color: #fbac30;
    font-weight: 300;
}

.secondary-text {
    font-size: 16px;
}

.primary-background {
    background: #fbac30;
}


/* HEADER/NAVIGATION */

#main-header {
    width: 100%;
    position: fixed;
    background: #000;
    border-bottom: #fbac30 2px solid;
    z-index: 1;
}

.menu ul {
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline-block;
    padding: 20px 30px 20px 0;
    
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
}

.menu ul li a:hover {
    color: #fbac30;
}

.toggle-nav {
    display: none;
}

.toggle-nav a {
    text-decoration: none;
}


/* RESPONSIVE HEADER/NAVIGATION */

@media screen and (max-width: 1050px) {
    .flex-container {
        display: block;
        justify-content: center;
        align-items: center;
    }
    .flex-container h1 {
        text-align: center;
        padding-top: 20px;
    }
    .flex-container .menu {
        text-align: center;
    }
}

@media screen and (max-width: 740px) {
    .flex-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60%;
        margin: 0 auto;
    }

    .flex-container h1 {
        padding: 0;
        font-size: 24px;
    }
    .toggle-nav {
        display: inline-block;
        padding: 20px 0 20px 0;
        font-size: 24px;
        color: #fff;
        text-decoration: none;
    }

    .toggle-nav:hover,
    .toggle-nav.active {
        text-decoration: none;
        color: #fbac30;
    }
    .menu {
        width: 100%;

        display: inline-block;
    }
    .menu ul.active {
        display: none;
    }
    .menu ul {
        width: 100%;
        position: absolute;
        top: 65px;
        left: 0px;
        padding: 0;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
        background: rgba(0, 0, 0, 0.8);
    }
    .menu ul:after {
        width: 0px;
        height: 0px;
        position: absolute;
        top: 0px;
        left: 22px;
        content: '';
    }
    .menu ul li {
        margin: 5px 0px 5px 0px;
        float: none;
        padding: 10px;
        display: block;
    }
    .menu a {
        display: block;
    }
}




/* BANNER */

#banner {
    height: 100%;
    width: 100%;
    background: url('../images/hero.jpg') 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

#banner h1 {
    font-size: 80px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    margin: 0;
    padding-bottom: 30px;
}

#banner h2 {
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    margin: 0;
    padding-bottom: 40px;
}

#banner h3 {
    font-weight: 300;
    letter-spacing: 1px;
    color: #fff;
    margin: 0;
}

.banner-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


/* RESPONSIVE BANNER */

@media screen and (max-width: 740px) {
    .banner-flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100vh;
        padding-top: 150px;
    }
    #banner h1 {
        font-size: 40px;
        padding-bottom: 15px;
    }
    #banner h2 {
        font-size: 20px;
        padding-bottom: 15px;
    }
    #banner h3 {
        font-size: 16px;
        padding-bottom: 5%;
    }
    .secondary-text {
        display: none;
    }
}


/* TABS */

.tabs {
    width: 60%;
    display: inline-block;
    padding-top: 15%;
}


/* TAB LINKS */


/* Clearfix */

.tab-links:after {
    display: block;
    clear: both;
    content: '';
}

.tab-links li {
    margin: 0 3px 0 0;
    float: left;
    list-style: none;
}

.tab-links a {
    padding: 9px 15px;
    display: inline-block;
    background: #000;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: all linear 0.15s;
}

.tab-links a:hover {
    background: #2c3e50;
    text-decoration: none;
}

li.active a,
li.active a:hover {
    background: #fff;
    color: #4c4c4c;
}



/* TAB CONTENT */

.tab-content {
    padding: 15px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
    background: #fff;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}


/* FORM GRID FLIGHT & HOTELS */

.form-container form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.form-container form label {
    display: block;
}

.form-container form p {
    margin: 0;
}

.form-container form .full {
    grid-column: 1 / 3;
}

.form-container form button,
.form-container form input,
.form-container form select {
    width: 100%;
    padding: 0.750em;
    border: 1px solid #fbac30;
}

.form-container form button {
    background: #fbac30;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;

}

.form-container form button:hover,
.form-container form button:focus {
    background: #000;
    transition: background-color 0.5s ease-out;
}


/* FORM GRID CAR RENT */


/* -- Same Location Drop-Off -- */

.form-same form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.form-same form .full-where {
    grid-column: 1 / 3;
}

.form-same form .full-btn {
    grid-column: 1 / 3;
}

.form-same form button,
.form-same form input,
.form-same form select {
    width: 100%;
    padding: 0.750em;
    border: 1px solid #fbac30;
}

.form-same form button {
    background: #fbac30;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.form-same form button:hover,
.form-same form button:focus {
    background: #000;
    transition: background-color 0.5s ease-out;
}


/* -- Different Location Drop-Off -- */

.form-different form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.form-different form .full {
    grid-column: 1 / 3;
}

.form-different form button,
.form-different form input,
.form-different form select {
    width: 100%;
    padding: 0.750em;
    border: 1px solid #fbac30;
}

.form-different form button {
    background: #fbac30;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid #fbac30;
}

.form-different form button:hover,
.form-different form button:focus {
    background: #000;
    transition: background-color 0.5s ease-out;
}

.drop-off li {
    display: inline-block;
    list-style: none;
    padding: 0 10px 10px 0;
}

.drop-off li a {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.drop-off li a:hover {
    color: #7f8c8d;
}



/* RESPONSIVE FORMS */

@media screen and (min-width: 1050px) {
    .form-container form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
        grid-gap: 10px;
    }
    .form-container form .full {
        grid-column: 7;
    }
    .form-container form button,
    .form-container form input,
    .form-container form select {
        padding: 1em;
    }
    .form-same form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
        grid-gap: 10px;
    }
    .form-same form .full-where {
        grid-column: 1;
    }
    .form-same form .full-btn {
        grid-column: 6;
    }
    .form-same form button,
    .form-same form input,
    .form-same form select {
        padding: 1em;
    }
    .form-different form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
        grid-gap: 10px;
    }
    .form-different form .full {
        grid-column: 7;
    }
    .form-different form button,
    .form-different form input,
    .form-different form select {
        padding: 1em;
    }
}



/* TOURS */

.main-container {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin: 0 auto;
    padding: 80px 0 0 0;
}
.main-container .full {
    grid-column: 1 / 3;
}

/* CARDS */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-container {
    padding: 16px 16px;
}

.card img {
    border-radius: 5px 5px 0 0;
}

.heading {
    text-align: center;
    padding-bottom: 50px;
}

.heading h1 {
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
}

.heading hr {
    border: 0;
    width: 80px;
    height: 5px;
    background-color: #fbac30;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
}


/* RESPONSIVE TOURS SECTION */

@media screen and (min-width: 1050px) {
    .main-container {
        width: 60%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        margin: 0 auto;
        padding: 80px 0 0 0;
    }
    
}


/* ABOUT US */
#about {
    margin-top: 50px;
    padding-bottom: 150px;
}
.about-container {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin: 0 auto;
    padding: 80px 0 0 0;
    align-items: center;
}
.about-container h2 {
    font-weight: 300;
    text-transform: uppercase;
}
.about-container button {
    background: #fbac30;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    padding: 1em;
    
}
.about-container button:hover,
.about-container button:focus {
    background: #000;
    transition: background-color 0.5s ease-out;
    
}
/* RESPONSIVE ABOUT US */
@media screen and (min-width: 1050px) {
    .about-container {
        width: 60%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        margin: 0 auto;
        padding: 80px 0 0 0;
    }
    .about-container .full {
    grid-column: 1 / 3;
    }
    .about-container button  {
        width: 120px;
    }
    
}

/* FEATURES */
#why {
    background: #333333;

}
.features-container {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin: 0 auto;
    padding: 80px 0 80px 0;
    align-items: center;
}
.features {
    text-align: center;
}
.features h3 {
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
}
.features p {
    color: #fff;
    font-weight: 300;
}
.font-box {
    border: 2px solid #fbac30;
    padding: 15px;
    width: 60px;
    margin: 0 auto 10px auto;
}
.font-box h2 {
    color: #fbac30;
}

/* RESPONSIVE FEATURES */
@media screen and (min-width: 1050px) {
    .features-container {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0 auto;
    padding: 80px 0 80px 0;
    align-items: center;
}
}

/* VIDEO TOUR */
.vtourimg {
    background-image: url('../images/vtour.jpg');
    min-height: 300px;
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.vtext {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 300px;
}
.vtext h2 {
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 20px;
}
.vbtn {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 50%;
    font-size: 25px;
    line-height: 80px;
    border: 1px solid #fbac30;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;

}
.vbtn:hover {
    background: none;
}
/* Modal CSS */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    margin: 10% auto;
    width: 960px;
    animation-name: modalopen;
    animation-duration: 1s;
    /*position: relative;
    margin: 20% auto;
    padding-bottom: 56.25%; 
    padding-top: 25px;
    height: 0;*/
}

.modal-body {
    position: relative;
    padding-bottom: 56.25%;

    height: 0;
    margin: 0 auto;
}

.modal-content iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
}

.modal-header {
    padding: 0 0 5px 20px;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .modal-content {
        width: 350px;
    }
}

@keyframes modalopen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.closeBtn {
    color: #ccc;
    float: right;
    font-size: 30px;
}

.closeBtn:hover,
closeBtn:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
/* TESTIMONIALS */
#testimonials {
    margin-top: 50px;
    
}
.testi-container {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin: 0 auto;
    padding: 80px 0 0 0;
    align-items: center;
}
.testi-container h2 {
    font-weight: 300;
    text-transform: uppercase;
}
/* Slider CSS */

.slider {
    max-width: 100%;
    margin: 0px auto 30px auto;
    background: #f8f8f8;
}

.slide-viewer {
    position: relative;
    /* needed for IE7 */
    overflow: hidden;
    height: 1000px;
}

.slide-group {
    width: 100%;
    height: 100%;
    position: relative;
}
.testi-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.slide {
    width: 94%;
    height: 100%;
    display: none;
    position: absolute;
    padding: 50px 20px 20px 20px;
    text-align: center;
}

.slide:first-child {
    display: block;
}



/********** BUTTONS **********/

.slide-buttons {
    text-align: center;
}

.slide-btn {
    border: none;
    background: none;
    color: #000;
    font-size: 200%;
    line-height: 0.5em;
}

.slide-btn.active,
.slide-btn:hover {
    color: #fbac30;
    cursor: pointer;
}
@media screen and (min-width: 1050px) {
    .slide-viewer {
        position: relative;
        /* needed for IE7 */
        overflow: hidden;
        height: 400px;
    }
    .testi-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
/* GALLERY */
.gallery-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    padding: 40px 0 0 0;
}
.pics {
    position: relative;
    margin: 0 0 -6px 0;
    padding: 0;
    overflow: hidden; 
      
}
.pics img {
    opacity: 1;
    display: block;
    backface-visibility: hidden;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer; 
    
}
.pics:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.3;
    overflow-wrap: break-word;

}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.pics:hover .middle {
    opacity: 1;
}
.gmodal {
   display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
}
.gmodal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 60%;
  animation-name: modalopen;
    animation-duration: 1s;
  max-width: 1370px;
}
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
.mySlides {
  display: none;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
@media screen and (min-width: 1050px) {
    .gallery-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0;
    margin: 0 auto;
    padding: 40px 0 0 0;

}
}